<body>
  <div class="center">
    <h1>Welcome Back</h1>

    <form name="form"
          (ngSubmit)="onSubmit()"
          #f="ngForm" novalidate>
      <div>
        <div class="txt_field">
          <span></span>
          <input required
                 type="text"
                 name="username"
                 placeholder="Enter username"
                 [(ngModel)]="form.username"
                 #username="ngModel" />
        </div>

        <div class="txt_field">
          <span></span>
          <input type="password"
                 name="password"
                 placeholder="Enter password"
                 [(ngModel)]="form.password"
                 required
                 #password="ngModel" />
        </div>
      </div>
      <div class="btn">
        <button class="login">Submit</button>
      </div>
    </form>
  </div>


</body>
